@using System.Security.Principal

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VeleRokovnik</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    
</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                Profil: @User.GetClaim(GenericPrincipalExtensions.CustomOsobaClaims.OsobaIme) @User.GetClaim(GenericPrincipalExtensions.CustomOsobaClaims.OsobaPrezime)
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Osobni podaci", "Podaci", "Racun")</li>
                                <li>@Html.ActionLink("Promjena lozinke", "PromjenaLozinke", "Racun")</li>
                                <li class="divider"> </li>
                                <li>@Html.ActionLink("Odjava", "Odjava", "Racun")</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Prijava", "Prijava", "Racun")
                        </li>
                        <li>
                            @Html.ActionLink("Kreiraj svoj račun!", "Kreiranje", "Racun")
                        </li>
                    }


                </ul>
            </div>
        </div>
    </div>

    <div class="container" ng-app="VeleRokovnikApp">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-right">&copy; @DateTime.Now.Year - VeleRokovnik - Mateo Velenik</p>
        </footer>
    </div>
    @RenderSection("scripts", false)
</body>
</html>
