@model VeleRokovnik.Models.ResetLozinkeModel

@{
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
    ViewBag.Title = "Reset Lozinke";
}

<div class="modal show">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="text-right">
                    <a href="@Url.Action("Index","Rokovnik")"><i class="glyphicon glyphicon-arrow-left"></i> Povratak na početnu stranicu</a>
                </p>
                <h3>Reset lozinke</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <h4>Upozorenje!</h4>
                    <p>Ova stranica je samo za dobre ljude! Pošto nemamo nikakve validacije, slobodno možete unijeti bilo koje korisničko ime te mu resetirati lozinku. Trenutno smo u postupku zapošljavanja security managera pa se ispričavamo za sve gubitke podataka i ostale nevolje.</p>
                    <p><strong>Za hakere:</strong> iš ća, išš</p>
                </div>
                @using (Html.BeginForm("ResetLozinke", "Racun", FormMethod.Post))
                {
                    @Html.DisplayErrors()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NovaLozinka)
                        @Html.PasswordFor(m => m.NovaLozinka, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NovaLozinkaPonovno)
                        @Html.PasswordFor(m => m.NovaLozinkaPonovno, new { @class = "form-control" })
                    </div>

                    <button type="submit" class="btn btn-primary">Promjeni!</button>
                }
            </div>
        </div>
    </div>
</div>